<footer class="container">
    <div class="py-3 my-4">
        <ul class="nav justify-content-center pb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-black">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_about') }}" class="nav-link px-2 text-black">A propos</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_works') }}" class="nav-link px-2 text-black">Œuvres</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_news') }}" class="nav-link px-2 text-black">Actualités</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_shop') }}" class="nav-link px-2 text-black">Boutique</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('app_contact') }}" class="nav-link px-2 text-black">Contact</a>
            </li>
        </ul>
        <ul class="nav justify-content-center list-unstyled d-flex border-bottom pb-3 mb-3 fs-1">
            <li class="mx-3">
                <a class="text-black" target="_blank" href="https://www.instagram.com/fredmauve/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="mx-3">
                <a class="text-black" target="_blank" href="https://www.facebook.com/people/Fred-Mauve-Artiste/100064602257294/">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li class="mx-3">
                <a class="text-black" target="_blank" href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
        </ul>
        <p class="text-center">© 2023 Fred Mauve. Tous droits réservés.</p>
    </div>
</footer>