<nav>
    <ul class="menuItems">
        <li>
            <a href="{{ path('app_home') }}" data-item='Accueil'>Accueil</a>
        </li>
        <li>
            <a href="{{ path('app_about') }}" data-item='Biographie'>Biographie</a>
        </li>
        <li>
            <a href="{{ path('app_works') }}" data-item='Œuvres'>Œuvres</a>
        </li>
        <li>
            <a href="{{ path('app_news') }}" data-item='Actualités'>Actualités</a>
        </li>
        <li>
            <a href="{{ path('app_shop') }}" data-item='Boutique'>Boutique</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}" data-item='Contact'>Contact</a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('admin_dashboard') }}" data-item='Dashboard'>Dashboard</a>
            </li>
        {% endif %}
    </ul>
    </ul>
</nav>
{% if app.user %}
    <div>
    Vous êtes connecté {{ app.user.userIdentifier }}
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
{% else %}
    <a href="{{ path('app_login') }}" class="btn btn-primary me-2">Se connecter</a>
{% endif %}