<nav>
    <ul class="menuItems">
        <li>
            <a href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('app_about') }}">Biographie</a>
        </li>
        <li>
            <a href="{{ path('app_works') }}">Œuvres</a>
        </li>
        <li>
            <a href="{{ path('app_news') }}">Actualités</a>
        </li>
        <li>
            <a href="{{ path('app_shop') }}">Boutique</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}">Contact</a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('admin_dashboard') }}" data-item='Dashboard'>Dashboard</a>
            </li>
        {% endif %}
    </ul>
    </ul>
</nav>
{% if app.user %}
    <div>
    Bienvenu {{ app.user.userIdentifier }}
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
{% else %}
    <a href="{{ path('app_login') }}" class="btn btn-primary me-2">Connexion</a>
{% endif %}