{{ form_start(form) }}
    {{ form_row(form.technique) }}
    {{ form_row(form.format) }}
    {{ form_row(form.category) }}
    {{ form_row(form.title) }}

    {# On affiche les images si on est en édition #}
    {% if app.request.attributes.get('_route') == 'admin_work_update' %}
        <p>Images</p>

        {# {% if work.images|length > 1 %} #}
        {% for image in work.images %}
        <div class="d-inline-flex p-1 align-items-center">
            <img class="img-fluid" src="{{ asset('assets/uploads/images/works/mini/300x300-' ~ image.name) }}" alt="Image" width="100" height="100">
            <a href="{{ path('admin_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
        </div>
        {% endfor %}
        {# {% else %}
        <div class="d-inline-flex p-1 align-items-center">
            <img class="img-fluid" src="{{ asset('assets/uploads/images/works/mini/300x300-' ~ work.images[0].name) }}" alt="Image" width="100" height="100">
        </div>
        {% endif %} #}

    <p>Ajouter de nouvelles images :</p>
        {{ form_row(form.images) }}
    {% else %}
        {{ form_row(form.images) }}
    {% endif %}

    {{ form_row(form.description) }}
    {{ form_row(form.date) }}
    {{ form_row(form.localisation) }}
    {{ form_row(form.price) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.saleable) }}
    {{ form_row(form.slug) }}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice d-flex justify-content-center m-3">{{ message }}</div>
    {% endfor %}

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
