{% extends 'dashboard/index.html.twig' %}

{% block title %}Œuvres{% endblock %}

{% block body %}
{{ parent() }}
    <h1>Liste des Œuvres</h1>

    <a class="btn btn-success" href="{{ path('admin_work_add') }}">Ajouter une œeuvre</a>
    <a class="btn btn-primary" href="{{ path('admin_category_home') }}">Liste de categories</a>

    <table class="table">
        <thead>
            <tr>
                <th>Format</th>
                <th>Category</th>
                <th>Title</th>
                <th>Images</th>
                <th>Localisation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td>{{ work.format }}</td>
                <td>{{ work.category.name }}</td>
                <td>{{ work.title }}</td>
                <td>
                    <img class="img-fluid" src="{{ asset('assets/uploads/images/works/mini/300x300-' ~ work.images[0].name) }}" width="100" height="100">
                </td>
                <td>{{ work.localisation }}</td>
                <td>
                    <a href="{{ path('admin_work_show', {'id': work.id}) }}">Afficher les détails</a>
                    <a href="{{ path('admin_work_update', {'id': work.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
