{% extends 'dashboard/index.html.twig' %}

{% block title %}Modification des Œuvres{% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('assets/css/workDashboard.css') }}"> 
{% endblock %}

{% block body %}

{# Pour que le titre "Dashboard's admin" disparaisse #}
{% block pageTitle %}{% endblock %}
    {# Affichage du menu du dashboard #}
    {{ parent()}}
    <h1 class = "text-center mt-5 mb-3">Modification de "{{ work.title }}"</h1>
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <p class="text-end">(*) Champs obligatoires.</p>
                {{ include('/dashboard/work_dashboard/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/images.js')}}" defer></script>
{% endblock %}
