{% extends 'dashboard/index.html.twig' %}

{% block title %}Modification des Œuvres{% endblock %}

{% block body %}

{# Pour que le titre "Dashboard's admin disparaisse #}
{% block pageTitle %}{% endblock %}
    {# pour avoir le menu du dashboard #}
    {{ parent()}}
    <h1>Modification des Œuvres</h1>

    {{ include('/dashboard/work_dashboard/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_work_home') }}">Retour à la liste</a>

    {{ include('dashboard/work_dashboard/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/images.js')}}" defer></script>
{% endblock %}
