{% extends 'dashboard/index.html.twig' %}

{% block title %}Gérer les actualités{% endblock %}


{% block body %}
{% block pageTitle %}{% endblock %}
{{ parent() }}
    <h1 class = "text-center mt-5">Gérer les actualités</h1>
    <a class="btn btn-success" href="{{ path('admin_news_add') }}" role="button">Ajouter une actualité</a>
    <a class="btn btn-success" href="{{ path('admin_news_home') }}" role="button">Retourner à la liste des actualités</a>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Titre</th>
                    <th scope="col" class="col-3">Description</th>
                    <th scope="col" class="col-3">Image</th>
                    <th scope="col" class="col-2">Date de création</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ news.title }}</td>
                    <td>{{ news.description }}</td>
                    <td><img class="img-fluid" src="{{ asset('assets/uploads/images/news/mini/300x300-' ~ news.imageNews.name) }}" width="100" height="100"></td>
                    {# le filtre 'date' change le format et trasforme l'objet DateTime qui vient du controller #}
                    <td>{{ news.createdAt|date('d/m/Y') }}</td>
                    <td class="text-center">
                        <a href="{{ path("admin_news_update", { id: news.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                    <td class="text-center">
                        <a type="button" href="#" data-id="{{ news.id }}" data-title="{{ news.title }}" class="btn btn-danger deleteNewsBtn" data-bs-toggle="modal" data-bs-target="#modalDelete">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer une actualité</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer l'actualité 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a type="button" class="btn btn-primary">Confirmer</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/newsDashboard.js')}}"></script>
{% endblock %}