{% extends 'dashboard/index.html.twig' %}

{% block title %}Gérer les messages{% endblock %}


{% block body %}

{# Nécessaire pour que le titre du dashbord ne s'affiche pas sur cette page#}
{% block pageTitle %}{% endblock %}

{# Menu de navigation du tableau de bord #}
{{ parent() }}

    <h1 class = "text-center mt-5
    mb-3">Gestion de messages</h1>
    <div class="container">
        <table class="table table-bordered border border-dark table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="col-2">Nom</th>
                    <th scope="col" class="col-2">Email</th>
                    <th scope="col" class="col-2">Sujet</th>
                    <th scope="col" class="col-4">Message</th>
                    <th scope="col" class="col-1">Date</th>
                    <th scope="col" class="col-1">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for message in contact %}
                <tr>
                    <td>{{ message.name }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.message }}</td>
                    {# le filtre 'date' change le format et trasforme l'objet DateTime qui vient du controller #}
                    <td>{{ message.createdAt|date('d/m/Y') }}</td>
                    <td class="text-center">
                        <a href="{{ path("admin_contact_show", { id: message.id}) }}" class="link-dark">
                            <i class="fa-solid fa-magnifying-glass mx-1"></i>
                        </a>
                        <a type="button" href="#" data-id="{{ message.id }}" data-name="{{ message.name }}" class="deleteContactBtn link-dark" data-bs-toggle="modal" data-bs-target="#modalDelete">
                            <i class="fa-regular fa-trash-can mx-1"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation de suppression</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer le message
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <a type="button" class="btn btn-danger">Oui</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/contactDashboard.js')}}"></script>
{% endblock %}

