<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fred Mauve{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </head>
    <body>
        {# Name #}
        <header class="border-bottom border-secondary my-3 mx-lg-5 mt-lg-5">
            <section>
                <h1 class="text-center text-wrap">
                    <a class="text-reset text-decoration-none" href="{{ path('app_home') }}">Fred Mauve</a>
                </h1>
            </section>
        {# Navbar #}
        {% include "_partials/_nav.html.twig" %}

        </header>
        {% if app.user %}
            <div class = "d-flex flex-row justify-content-end align-items-center m-3 mx-lg-5">
                Bienvenue {{ app.user.userIdentifier }}
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger ms-2">Déconnexion</a>
            </div>
            {# {% else %}
                <a href="{{ path('app_login') }}" class="btn btn-primary me-2">Connexion</a> #}
        {% endif %}

        {% block body %}{% endblock %}
        {# Footer #}
        {% include "_partials/_footer.html.twig" %}

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    </body>
</html>